<!-- /views/homepage.ejs -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./style.css">
    </head>
<body>

    <div class="homepage page">
        <%- include('navbar') %>

        <div class="content">
            <h1 style="text-align: center;">Inventory Application</h1>
            <p>Welcome to Inventory App! This is a basic express app for managing a fictional store's item inventory.</p>
            <p>An inventory application built using NodeJS Express (EJS Template) and PostgreSQL.</p>
        </div>
    </div>

</body>
</html>