    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/allAlbums">All albums</a></li>
            <li style="margin-bottom: 60px;"><a href="/allGenres">All genres</a></li>
            <li><a href="/addAlbum">Add new album</a></li>
            <li><a href="/addGenre">Add new genre</a></li>
        </ul>
        <div class="decoration-stick-nav">
        </div>
    </nav>